 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url("https://ik.imagekit.io/ipuppyyt/freestocks-Imvn4PWHPcQ-unsplash_lgce7G6CO.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-image-1 {
  width: 149px;
  height: 151px;
  filter: brightness(0.75);
  margin: 43px auto 0;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 24px auto 0;
}

.u-section-1 .u-group-1 {
  width: 679px;
  background-image: none;
  min-height: 52px;
  height: auto;
  margin: 17px auto 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-group-elements-1 {
  width: 665px;
  min-height: 45px;
  margin: 3px auto 0;
}

.u-section-1 .u-icon-1 {
  width: 44px;
  height: 44px;
  margin: 1px auto 0 0;
  padding: 0;
}

.u-section-1 .u-icon-2 {
  width: 45px;
  height: 45px;
  margin: -45px 0 0 auto;
  padding: 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: -41px auto 0 256px;
}

.u-section-1 .u-group-2 {
  background-image: none;
  min-height: 52px;
  width: 679px;
  height: auto;
  margin: 7px auto 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-group-elements-2 {
  width: 665px;
  min-height: 45px;
  margin: 3px auto 0;
}

.u-section-1 .u-icon-3 {
  width: 44px;
  height: 44px;
  margin: 1px auto 0 0;
  padding: 0;
}

.u-section-1 .u-icon-4 {
  width: 45px;
  height: 45px;
  margin: -45px 0 0 auto;
  padding: 0;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: -40px auto 0;
}

.u-section-1 .u-group-3 {
  background-image: none;
  min-height: 51px;
  height: auto;
  width: 679px;
  margin: 7px auto 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-group-elements-3 {
  width: 665px;
  min-height: 45px;
  margin: 3px auto 0;
}

.u-section-1 .u-icon-5 {
  width: 44px;
  height: 44px;
  margin: 1px auto 0 0;
  padding: 0;
}

.u-section-1 .u-icon-6 {
  width: 45px;
  height: 45px;
  margin: -45px 0 0 auto;
  padding: 0;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  margin: -41px auto 0;
}

.u-section-1 .u-group-4 {
  background-image: none;
  min-height: 51px;
  height: auto;
  width: 679px;
  margin: 7px auto 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-group-elements-4 {
  width: 665px;
  min-height: 45px;
  margin: 3px auto 0;
}

.u-section-1 .u-icon-7 {
  width: 44px;
  height: 44px;
  margin: 1px auto 0 0;
  padding: 0;
}

.u-section-1 .u-icon-8 {
  width: 45px;
  height: 45px;
  margin: -45px 0 0 auto;
  padding: 0;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  margin: -40px auto 0;
}

.u-section-1 .u-group-5 {
  background-image: none;
  min-height: 51px;
  height: auto;
  width: 679px;
  margin: 7px auto 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 0;
}

.u-section-1 .u-group-elements-5 {
  width: 665px;
  min-height: 45px;
  margin: 3px auto 0;
}

.u-section-1 .u-icon-9 {
  width: 44px;
  height: 44px;
  margin: 1px auto 0 0;
  padding: 0;
}

.u-section-1 .u-icon-10 {
  width: 45px;
  height: 45px;
  margin: -45px 0 0 auto;
  padding: 0;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  margin: -41px auto 0;
}

.u-section-1 .u-group-6 {
  background-image: none;
  min-height: 52px;
  height: auto;
  width: 679px;
  margin: 7px auto 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 0;
}

.u-section-1 .u-group-elements-6 {
  width: 665px;
  min-height: 45px;
  margin: 3px auto 0;
}

.u-section-1 .u-icon-11 {
  width: 44px;
  height: 44px;
  margin: 1px auto 0 0;
  padding: 0;
}

.u-section-1 .u-icon-12 {
  width: 45px;
  height: 45px;
  margin: -45px 0 0 auto;
  padding: 0;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  margin: -41px auto 0;
}

.u-section-1 .u-group-7 {
  background-image: none;
  min-height: 52px;
  height: auto;
  width: 679px;
  margin: 7px auto 60px;
}

.u-section-1 .u-container-layout-7 {
  padding: 0;
}

.u-section-1 .u-group-elements-7 {
  width: 665px;
  min-height: 45px;
  margin: 3px auto 0;
}

.u-section-1 .u-icon-13 {
  width: 44px;
  height: 44px;
  margin: 1px auto 0 0;
  padding: 0;
}

.u-section-1 .u-icon-14 {
  width: 45px;
  height: 45px;
  margin: -45px 0 0 auto;
  padding: 0;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  margin: -40px auto 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-size: 120%;
  }

  .u-section-1 .u-image-1 {
    width: 151px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }

  .u-section-1 .u-group-3 {
    height: auto;
  }

  .u-section-1 .u-group-4 {
    height: auto;
  }

  .u-section-1 .u-group-5 {
    height: auto;
  }

  .u-section-1 .u-group-6 {
    height: auto;
  }

  .u-section-1 .u-group-7 {
    height: auto;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    background-size: auto 120%;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-group-elements-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -40px;
    margin-left: auto;
  }

  .u-section-1 .u-group-2 {
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-group-elements-2 {
    width: 540px;
  }

  .u-section-1 .u-group-3 {
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-group-elements-3 {
    width: 540px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
  }

  .u-section-1 .u-group-4 {
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-group-elements-4 {
    width: 540px;
  }

  .u-section-1 .u-group-5 {
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-group-elements-5 {
    width: 540px;
  }

  .u-section-1 .u-group-6 {
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-group-elements-6 {
    width: 540px;
  }

  .u-section-1 .u-group-7 {
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-group-elements-7 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-group-elements-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -37px;
  }

  .u-section-1 .u-group-2 {
    width: 340px;
  }

  .u-section-1 .u-group-elements-2 {
    width: 340px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: -37px;
  }

  .u-section-1 .u-group-3 {
    width: 340px;
  }

  .u-section-1 .u-group-elements-3 {
    width: 340px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -37px;
  }

  .u-section-1 .u-group-4 {
    width: 340px;
  }

  .u-section-1 .u-group-elements-4 {
    width: 340px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: -37px;
  }

  .u-section-1 .u-group-5 {
    width: 340px;
  }

  .u-section-1 .u-group-elements-5 {
    width: 340px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: -37px;
  }

  .u-section-1 .u-group-6 {
    width: 340px;
  }

  .u-section-1 .u-group-elements-6 {
    width: 340px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: -37px;
  }

  .u-section-1 .u-group-7 {
    width: 340px;
  }

  .u-section-1 .u-group-elements-7 {
    width: 340px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-top: -37px;
  }
}