 .u-section-1 {
  background-image: none;
  min-height: 100vh;
}

.u-section-1 .u-line-1 {
  transform-origin: right center 0px;
  width: 1140px;
  margin: 105px auto 0;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 745px;
  margin-top: -107px;
  margin-bottom: 0;
}

.u-section-1 .u-custom-html-2 {
  height: auto;
  min-height: 745px;
  margin-top: -745px;
  margin-bottom: 0;
}

.u-section-1 .u-group-elements-1 {
  width: 214px;
  min-height: 97px;
  height: auto;
  margin: -202px auto 60px;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 700;
  margin: 0 1px;
}

.u-section-1 .u-btn-2 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 700;
  margin: 13px 0 0;
  padding: 9px 52px 11px 51px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-line-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-line-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-line-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-line-1 {
    width: 340px;
  }
}

.u-block-981b-69:not([data-block-selected]):not([data-cell-selected]),
.u-block-981b-69:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-981b-69:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-981b-69:not([data-block-selected]):not([data-cell-selected]).u-block-981b-69:not([data-block-selected]):not([data-cell-selected]).u-block-981b-69:not([data-block-selected]):not([data-cell-selected]):hover {
  border-radius: 10px !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  transform: scale(1) translateY(px) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-block-981b-69:not([data-block-selected]):not([data-cell-selected]) {
  border-color: transparent !important;
}

.u-block-981b-69:not([data-block-selected]):not([data-cell-selected]).u-block-981b-69:not([data-block-selected]):not([data-cell-selected]).u-block-981b-69:not([data-block-selected]):not([data-cell-selected]).hover {
  border-radius: 10px !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  transform: scale(1) translateY(px) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-block-981b-69:not([data-block-selected]):not([data-cell-selected]) {
  border-color: transparent !important;
}

.u-container-layout:hover .u-block-981b-69:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-981b-69:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-block-981b-51:not([data-block-selected]):not([data-cell-selected]),
.u-block-981b-51:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-981b-51:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-981b-51:not([data-block-selected]):not([data-cell-selected]).u-block-981b-51:not([data-block-selected]):not([data-cell-selected]).u-block-981b-51:not([data-block-selected]):not([data-cell-selected]):hover {
  border-radius: 10px !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  transform: scale(1) translateY(px) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-block-981b-51:not([data-block-selected]):not([data-cell-selected]) {
  border-color: transparent !important;
}

.u-block-981b-51:not([data-block-selected]):not([data-cell-selected]).u-block-981b-51:not([data-block-selected]):not([data-cell-selected]).u-block-981b-51:not([data-block-selected]):not([data-cell-selected]).hover {
  border-radius: 10px !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  transform: scale(1) translateY(px) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-block-981b-51:not([data-block-selected]):not([data-cell-selected]) {
  border-color: transparent !important;
}

.u-container-layout:hover .u-block-981b-51:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-981b-51:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-block-981b-54:not([data-block-selected]):not([data-cell-selected]),
.u-block-981b-54:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-981b-54:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-981b-54:not([data-block-selected]):not([data-cell-selected]).u-block-981b-54:not([data-block-selected]):not([data-cell-selected]).u-block-981b-54:not([data-block-selected]):not([data-cell-selected]):hover {
  border-radius: 10px !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  transform: scale(1) translateY(px) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-block-981b-54:not([data-block-selected]):not([data-cell-selected]) {
  border-color: transparent !important;
}

.u-block-981b-54:not([data-block-selected]):not([data-cell-selected]).u-block-981b-54:not([data-block-selected]):not([data-cell-selected]).u-block-981b-54:not([data-block-selected]):not([data-cell-selected]).hover {
  border-radius: 10px !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  transform: scale(1) translateY(px) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-block-981b-54:not([data-block-selected]):not([data-cell-selected]) {
  border-color: transparent !important;
}

.u-container-layout:hover .u-block-981b-54:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-981b-54:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-block-981b-57:not([data-block-selected]):not([data-cell-selected]),
.u-block-981b-57:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-981b-57:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-981b-57:not([data-block-selected]):not([data-cell-selected]).u-block-981b-57:not([data-block-selected]):not([data-cell-selected]).u-block-981b-57:not([data-block-selected]):not([data-cell-selected]):hover {
  border-radius: 10px !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  transform: scale(1) translateY(px) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-block-981b-57:not([data-block-selected]):not([data-cell-selected]) {
  border-color: transparent !important;
}

.u-block-981b-57:not([data-block-selected]):not([data-cell-selected]).u-block-981b-57:not([data-block-selected]):not([data-cell-selected]).u-block-981b-57:not([data-block-selected]):not([data-cell-selected]).hover {
  border-radius: 10px !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  transform: scale(1) translateY(px) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-block-981b-57:not([data-block-selected]):not([data-cell-selected]) {
  border-color: transparent !important;
}

.u-container-layout:hover .u-block-981b-57:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-981b-57:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-block-981b-60:not([data-block-selected]):not([data-cell-selected]),
.u-block-981b-60:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-981b-60:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-981b-60:not([data-block-selected]):not([data-cell-selected]).u-block-981b-60:not([data-block-selected]):not([data-cell-selected]).u-block-981b-60:not([data-block-selected]):not([data-cell-selected]):hover {
  border-radius: 10px !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  transform: scale(1) translateY(px) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-block-981b-60:not([data-block-selected]):not([data-cell-selected]) {
  border-color: transparent !important;
}

.u-block-981b-60:not([data-block-selected]):not([data-cell-selected]).u-block-981b-60:not([data-block-selected]):not([data-cell-selected]).u-block-981b-60:not([data-block-selected]):not([data-cell-selected]).hover {
  border-radius: 10px !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  transform: scale(1) translateY(px) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-block-981b-60:not([data-block-selected]):not([data-cell-selected]) {
  border-color: transparent !important;
}

.u-container-layout:hover .u-block-981b-60:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-981b-60:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-block-981b-63:not([data-block-selected]):not([data-cell-selected]),
.u-block-981b-63:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-981b-63:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-981b-63:not([data-block-selected]):not([data-cell-selected]).u-block-981b-63:not([data-block-selected]):not([data-cell-selected]).u-block-981b-63:not([data-block-selected]):not([data-cell-selected]):hover {
  border-radius: 10px !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  transform: scale(1) translateY(px) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-block-981b-63:not([data-block-selected]):not([data-cell-selected]) {
  border-color: transparent !important;
}

.u-block-981b-63:not([data-block-selected]):not([data-cell-selected]).u-block-981b-63:not([data-block-selected]):not([data-cell-selected]).u-block-981b-63:not([data-block-selected]):not([data-cell-selected]).hover {
  border-radius: 10px !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  transform: scale(1) translateY(px) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-block-981b-63:not([data-block-selected]):not([data-cell-selected]) {
  border-color: transparent !important;
}

.u-container-layout:hover .u-block-981b-63:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-981b-63:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-block-981b-66:not([data-block-selected]):not([data-cell-selected]),
.u-block-981b-66:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-981b-66:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-981b-66:not([data-block-selected]):not([data-cell-selected]).u-block-981b-66:not([data-block-selected]):not([data-cell-selected]).u-block-981b-66:not([data-block-selected]):not([data-cell-selected]):hover {
  border-radius: 10px !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  transform: scale(1) translateY(px) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-block-981b-66:not([data-block-selected]):not([data-cell-selected]) {
  border-color: transparent !important;
}

.u-block-981b-66:not([data-block-selected]):not([data-cell-selected]).u-block-981b-66:not([data-block-selected]):not([data-cell-selected]).u-block-981b-66:not([data-block-selected]):not([data-cell-selected]).hover {
  border-radius: 10px !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  transform: scale(1) translateY(px) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-block-981b-66:not([data-block-selected]):not([data-cell-selected]) {
  border-color: transparent !important;
}

.u-container-layout:hover .u-block-981b-66:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-981b-66:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}